#letter p {
  margin: 0;
}

#letter {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#letter.flipped {
  -webkit-transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
  -o-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

/*.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
.card-item {
  box-sizing: border-box;
  border: 1px solid rgb(10, 144, 233);
  border-radius: 5px;
  display: inline-block;
  width: 400px;
  height: 410px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
}

.card-item div {
  display: flex;
  flex: 1 1 160px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: 1px;
}
*/
/*
.key-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 0px;
  width: 100%;
  background-color: rgba(239, 245, 252, 0.986);
}
.key-item {
  box-sizing: border-box;
  border: 1px solid rgb(10, 144, 233);
  border-radius: 5px;
  display: inline-block;
  width: 675px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 77fr));
}

.key-item div {
  display: flex;
  flex: 1 1 160px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.key-item div:hover {
  /*border: 1px solid rgb(36, 74, 245);
  background-color: rgb(5, 5, 218);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
*/
