.header-container {
    display: flex;
    justify-content: center;
    color: #eeeeee;
    background-color: #301c82;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    flex-direction: row;
    align-items: center;
}

#dot{
    color:aqua
}

.header-container h2 {
  /*animation: push 0.5s backwards linear;*/
  flex: 1 1 auto;
}

.settings-button{
    margin-left: 115px;
    cursor: pointer;
}

/*Spin animation*/
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }
  