.App {
  text-align: center;
  display: flex;
  height: 100vh;
  background-color: #301c82;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
.card-item {
  box-sizing: border-box;
  /*border: 1px solid rgb(10, 144, 233);*/
  border-radius: 5px;
  display: inline-block;
  width: 400px;
  height: 410px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  margin-top: -150px;
}

.card-item div {
  display: flex;
  flex: 1 1 160px;
  border: 3px solid #8b72bb9e; /*#8b72bb;*/
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  /*background-color: #9e90d5;*/
  background-color: #301c82;
  height: 60px;
}

.card-item div p {
  font-family: "Poppins", sans-serif;
  /*font-family: "Fredoka One", cursive;*/
  /*font-family: "Rubik Mono One", sans-serif;*/
  font-size: 25px;
  color: #eeeeee;
  font-weight: bold;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

@keyframes push {
  /*100% {
    transform: rotateX(-180deg);
    animation-timing-function: linear;
  }*/

  /*Geggjað*/
  from {
    transform: translateY(100%) rotate(20deg);
    transform-origin: left;
    opacity: 0;
  }
  40% {
    transform: rotate(-20deg);
    transform-origin: left;
  }
  65% {
    transform: rotate(0deg);
    transform-origin: left;
  }

  /*Normal flip code*/
  /*from {
    transform: perspective(600px) rotateX(-180deg);
    opacity: 0;
  }
  to {
    transform: perspective(600px) rotateX(-360deg);
  }*/
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*http://cssanimation.io/ */
