body {
  --color-background: #301c82;
  --color-foreground: #eeeeee;

  &.dark {
    --color-background: #010527;
    --color-foreground: #efefef;
  }

  &.light {
    --color-background: #301c82;
    --color-foreground: #efefef;
  }

  background-color: var(--color-background);
}

.App {
  text-align: center;
  display: flex;
  height: 200vh;
  align-items: center;
  flex-direction: column;
}

.App h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
.card-item {
  box-sizing: border-box;
  /*border: 1px solid rgb(10, 144, 233);*/
  border-radius: 5px;
  width: 400px;
  /*height: 410px;*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  opacity: 1;
}

.card-item div {
  display: flex;
  flex: 1 1 160px;
  border: 3px solid #8b72bb9e; /*#8b72bb;*/
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  /*background-color: #9e90d5;*/
  height: 70px;
}

.card-item div p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #eeeeee;
  font-weight: bold;
}

.show {
  opacity: 1;
  margin-left: 0;
  animation: flip 0.4s backwards linear;
  z-index: 0;
}

.hide {
  opacity: 0;
  margin-right: -400px;
  /*The z-index property specifies the stack order of an element. 
    An element with greater stack order is always in front of an element with a lower stack order.*/
  z-index: -1;
}

/*Animations*/

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

@keyframes push {
  /*Geggjað*/
  from {
    transform: translateY(100%) rotate(20deg);
    transform-origin: left;
    opacity: 0;
  }
  40% {
    transform: rotate(-20deg);
    transform-origin: left;
  }
  65% {
    transform: rotate(0deg);
    transform-origin: left;
  }
}

@keyframes flip {
  /*Normal flip code*/
  from {
    transform: perspective(600px) rotateX(-180deg);
    opacity: 0;
  }
  to {
    transform: perspective(600px) rotateX(-360deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*http://cssanimation.io/ */
